.venv/
.DS_Store
recorded.mid

# Python - Fichiers de compilation (ce qui a causé ton erreur)
__pycache__/
*.pyc

# Système (Fichiers cachés de macOS)
.DS_Store

# Fichiers volumineux (Optionnel : si tu ne veux pas envoyer tes musiques)
*.mid
*.mp3

# Voice model
fr_FR-siwis-medium.onnx
fr_FR-siwis-medium.onnx.json

# Daniel
atc/
mini_daw.py
DawDreamer/
daw_dreamer.py