# .gitignore file 

# ignore .sf2 files
*.sf2

#include only the basic_piano.sf2 file
!basic_piano.sf2

# ignore venv
venv

# ignore temporary files from vscode
.vscode

# ignore __pycache__ directories
__pycache__

#exe files build
dist
build


# the mid files
*.mid

#the save files
Saves

# MacOS
.DS_Store

# Daniel
test.py